@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* For medium screens */
@media (max-width: 1024px) {
  #app {
    max-width: 960px;
    padding: 1.5rem;
  }
}

/* For small screens */
@media (max-width: 768px) {
  #app {
    max-width: 720px;
    padding: 1rem;
  }

  a,
  .green {
    padding: 2px;
    font-size: 0.95rem; /* Adjust font size for links */
  }
}

/* For extra small screens */
@media (max-width: 480px) {
  #app {
    max-width: 100%;
    padding: 0.5rem;
  }

  a,
  .green {
    padding: 1px;
    font-size: 0.85rem; /* Further adjust font size */
  }
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}
